:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #d6d6d6;
  // --text-input-field: #EAEAEA;
  // --hospital-green: #FF2E63;
  --main-color: #08D9D6;
  --second-color: #252A34;
  --action-color: #FF2E63;
  // --main-text-color: #EAEAEA;
  --main-text-color: #131313;
  --second-text-color: #4b4b4b;
  --text-input-field: #eeeeee;

  --xsm: 13px;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
